<footer>
    <div class="flex-container">
        <div class="flex-item">
            <p class="headline">Resources</p>
            <p>About</p>
            <p>Blog</p>
        </div>

        <div class="flex-item">
            <p class="headline">Help</p>
            <p>Stack Overflow</p>
            <p>Report Issues</p>
        </div>
        
        <div class="flex-item">
            <p class="headline smaller-font">Community</p>
            <p>GitHub</p>
            <p>Contribute</p>
        </div>
    </div>
</footer>