<footer>
    <div class="flex-container">
        <div class="flex-item">
            <p class="headline smaller-font">Resources</p>
            <a class="item">About</a>
            <a class="item">Blog</a>
        </div>

        <div class="flex-item">
            <p class="headline smaller-font">Help</p>
            <a class="item">Stack Overflow</a>
            <a class="item">Report Issues</a>
        </div>
        
        <div class="flex-item">
            <p class="headline smaller-font">Community</p>
            <a class="item">GitHub</a>
            <a class="item">Contribute</a>
        </div>
    </div>
</footer>