.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 25%;
}

.genres-list-container {
    padding: 50px 200px;
    background-color: #f2f2f2;
    margin: 100px 0;
    overflow: auto;
}

#browse-genres-title {
    margin-bottom: 40px;
}

#all-genres {
    margin-top: 20px;
    float: left;
}

.margin-left-8 {
    margin-left: 8px;
}
