body {
    position: relative;
}

* {
    color: white;
}

#container {
    min-height: 100vh;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: top 0.3s ease-out;
}


.global-wrapper {
    position: relative;
}


/* #footer {
    position: relative;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
} */
