<div class="reviews-list-container">
    <h1 class="reviews-title">Reviews</h1>

    <div class="add-review">
        <textarea class="small-font float-left" 
        placeholder="Add review" 
        [appTextareaAutogrow]="200" 
        #reviewTextarea
        ></textarea>
        <p 
        id="add-review-button" 
        class="btn small-font add-btn foat-left" 
        (click)="addReview(reviewTextarea.value); reviewTextarea.value = '';"
        >Add</p>
    </div>

    <div class="reviews-container">
        <app-review *ngFor="let review of (reviews$ | async)" [review]="review"></app-review>
    </div>
</div>