.genres-all-container {
    background-color: #f2f2f2;
    min-height: 100vh;
}

.genres-names {
    column-count: 1;
    padding: 30px 0;
    /* column-gap: 5rem; */
}

.genre-name {
    padding: 3px 0;
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
}


.genre-name a {
    border-bottom: 1px solid transparent;
}

.genre-name a:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}


@media screen and (min-width: 641px) {
    .genres-names {
        column-count: 2;
        padding: 30px 0;
        column-gap: 5rem;
    }
}

@media screen and (min-width: 1008px) {
    .genres-names {
        column-count: 4;
        padding: 30px 0;
        column-gap: 5rem;
    }
}

