/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("assets/images/stains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    scroll-behavior:  smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    cursor: pointer;
}

.center-text {
    text-align: center;
}

.largest-font {
    font-size: 4rem; 
}

.large-font {
    font-size: 3rem;
}

.medium-font {
    font-size: 2rem;
}

.smaller-font {
    font-size: 1.2rem;
}

.black-text {
    color: black;
}

.letter-spacing {
    letter-spacing: 0.33rem;
}

.small-caps {
    font-variant: small-caps;
}


.bold {
    font-weight: bold;
}

.light {
    font-weight: 500;
}

.padding-top-200 {
    padding-top: 200px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.megatron-grad {
    background: #ed213a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ed213a, #93291e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ed213a, #93291e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}